body{
    background-color: #0d0e12;
    color: #7fbab5ff;
}

div{
    float: down;
}

#board{
    width: 80vh;
    aspect-ratio: 1;
}
.square{
    width: 10vh;
    height: 10vh;
    float: left;
}
.pieceImg{
    width: 10vh;
    height: 10vh;
}
.black{
    background-color:forestgreen;
}
.white{
    background-color: tan;
}
.boardAlignH{
    float: left;
}
#rightPanel{
    width: 40vh;
}
#whiteTime{
    width: 40vh;
    height: 5vh;
    font-size: 4vh;
    vertical-align: middle;
    text-align: center;
    background-color: tan;
}
#blackTime{
    width: 40vh;
    height: 5vh;
    font-size: 4vh;
    vertical-align: middle;
    text-align: center;
    background-color: forestgreen;
}
.inRightPanel{
    width:40vh;
}