body{
    background-color: #0d0e12;
    color: #f1f3f5;
    box-sizing:border-box;
    margin: 0;
}

div{
    float: down;
}
#banner{
    height: 5vh;
    margin-bottom:3vh;
    box-sizing: border-box;
    border-bottom: 2px solid #373a40;
    background-color: #1a1b1e;
}
#bannerText{
    font-size: 3.5vh;
    line-height: 5vh;
    margin-right: 69vw;
    margin-left: 1vw;
    vertical-align: middle;
    text-align: left;
    float:left;
    width: 14vw;
}
#bannerLink{
    font-size: 2vh;
    line-height: 5vh;
    margin-right: 1vw;
    vertical-align: middle;
    text-align: right;
    float:left;
    width: 15vw;
    color: #f1f3f5;
}
#overlay{
    z-index:100;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: red;
    opacity: 0;
    left:0px;
    top:0px;
    pointer-events:none;
}
#board{
    width: 80vh;
    aspect-ratio: 1;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    overflow: hidden;
}
#evalLeft{
    height: 80vh;
    width: 2.5vh;
    background-color: white;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
    overflow: hidden;
}
#evalLeftFill{
    width: 100%;
    height: 50%;
    background-color: grey;
}
.square{
    width: 10vh;
    height: 10vh;
    float: left;
}
.pieceImg{
    width: 10vh;
    height: 10vh;
}
.black{
    background-color:#868e96;
}
.white{
    background-color: #e9ecef;
}
.boardAlignH{
    height: 80vh;
    float: left;
}
#rightPanel{
    width: 80vh;
}
#whiteTime{
    background-color: #e9ecef;
    color: #101113;
}
#blackTime{
    background-color: #868e96;
}
.inRightPanel{
    width:80vh;
    background-color:#1a1b1e;
    box-sizing:border-box;
    border: 2px solid #373a40;
}
#engineDetails{
    width: 100%;
    height: 5vh;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
}
.line{
    height: 3vh;
    width: 100%;
    font-size: 2.5vh;
    vertical-align: middle;
    line-height:3vh;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    background-color: #1a1b1e;
    box-sizing:border-box;
    border: 2px solid #373a40;
    border-radius: none;
}
.line::-webkit-scrollbar{
    display: none;
}
#moveHistoryContainer{
    width: 100%;
    min-height: 45vh;
    max-height: 45vh;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
#moveHistoryContainer::-webkit-scrollbar{
    display: none;
}
#timerContainer{
    width: 100%;
    height: 5vh;
}
.timer{
    width: 50%;
    height: 100%;
    font-size: 4vh;
    vertical-align: middle;
    text-align: center;
    float: left;
}
#gameDetails{
    width: 100%;
    height: 10vh;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
}
.vspacer{
    width: 6.25vh;
    height: 100%;
}
#vspacer2{
    width: 2.5vh;
}
.historyColumn{
    width: 45%;
    min-height: 100%;
    float: left;
}
.mhEntry{
    height:3.75vh;
    font-size: 3vh;
    vertical-align:middle;
    line-height: 3.75vh;
    text-align:center;
    border: 1px solid #373a40;
    box-sizing: border-box;
}
#mhNumberColumn{
    width:10%;
    min-height:100%;
    float: left;
}
.moveNumber{
    height:3.75vh;
    font-size: 3vh;
    vertical-align: middle;
    line-height:3.75vh;
    text-align: center;
    border: 1px solid #373a40;
    box-sizing: border-box;
}
.hspacer{
    height: 2.5vh;
}
#boardContainer{
    height: 80vh;
}
#bottomPanel{
    width: 100%;
    height: 5vh;
}
#vspacer4{
    width: 8.75vh;
}
.botlane{
    float: left;
}
.button{
    width: 14vh;
    height: 100%;
    background-color: darkgrey;
    color: black;
    font-size: 190%;
    text-align: center;
    vertical-align: middle;
}
#vspacer5{
    width: 2.5vh;
}
#vspacer6{
    width: 2.5vh;
}
#vspacer7{
    width: 2.5vh;
}
#vspacer8{
    width: 2.5vh;
}
#evalScore{
    height: 100%;
    width: 15%;
    font-size: 4vh;
    line-height: 5vh;
    text-align: left;
    vertical-align: middle;
    padding-left: 2%;
}
#engineName{
    height: 100%;
    width: 37.5%;
    font-size: 2.25vh;
    line-height: 5vh;
    text-align: center;
    vertical-align: middle;
}
#nodeDetails{
    height: 100%;
    width: 30%;
    font-size: 2.25vh;
    line-height: 5vh;
    text-align: center;
    vertical-align: middle;
}
#depth{
    height: 100%;
    width: 15%;
    font-size: 2.25vh;
    line-height: 5vh;
    text-align: left;
    vertical-align: middle;
}
.inEngineDetails{
    float: left;
}
#mid{
    max-width: 20vw;
    height: 50vh;
    z-index: 200;
    position: absolute;
    top:25vh;
    left: 40vw;
    background-color: #1a1b1e;
    box-sizing:border-box;
    border-radius:2vh;
    border: 4px solid #373a40;
}
.midlane{
    width:100%;
    text-align: center;
    vertical-align: middle;
    height:5%;
    font-size:2.5vh;
    line-height: 2.5vh;
}
#midTitle{
    height:16%;
    font-size:4vh;
    line-height: 12vh;
    vertical-align: bottom;
}
#midSubtitle{
    margin-bottom:4vh;
    font-size: 2vh;
}
input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 90%;
    margin: 2vh 0;
    margin-left: 5%;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2vh;
    cursor: pointer;
    background: #d3d3d3;
    border-radius: 0.5vh;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2vh;
    cursor: pointer;
    background: #d3d3d3;
    border-radius: 0.5vh;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 2vh; 
    cursor: pointer;
    background: transparent; /* Required for MS browsers */
    border-color: transparent;
    border-width: 1.6vh 0;
    color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 3vh;
    width: 1.5vh;
    border-radius: 0.6vh;
    background: #1864ab;
    cursor: pointer;
    margin-top: -5px;
}

input[type="range"]::-moz-range-thumb {
    height: 3vh;
    width: 1.5vh;
    border-radius: 0.6vh;
    background: #1864ab;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    height: 3vh;
    width: 1.5vh;
    border-radius: 0.6vh;
    background: #1864ab;
    cursor: pointer;
}
#secInput{
    margin-bottom: 7.5%;
}
.colorButton{
    width: 45%;
    height: 10%;
    font-size: 2vh;
}
#playWhite{
    margin-left: 3.5%;
    margin-right: 1.5%;
}
#playBlack{
    margin-left: 1.5%;
    margin-right: 3.5%;
}